name: Webapp - Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      # Set up pnpm
      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      # Install dependencies
      - name: Install dependencies
        run: pnpm install
        working-directory: apps/webapp

      # Get Id Token
      - name: Get Id Token
        uses: actions/github-script@v6
        id: idtoken
        with:
          script: |
            const coredemo = require('@actions/core')
            return await coredemo.getIDToken()
          result-encoding: string

      # Build the webapp
      - name: Build the webapp
        run: pnpm run build
        working-directory: apps/webapp

      # Deploy to Azure Static Web Apps
      - name: Deploy Static Web App
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LIVELY_STONE_0288CE00F }}
          action: 'upload'
          app_location: 'apps/webapp' # Path to the webapp source code
          api_location: '' # Path to the API source code (if applicable)
          output_location: '' # Path to the built webapp content directory
          skip_app_build: true # Skip Oryx build process

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          action: 'close'
